@model ICollection<EventListingServiceModel>


<ul class="event-list">
    @foreach (var eventEntity in Model)
    {
        <li>
            <time datetime="@eventEntity.Date.ToShortDateString()">
                <span class="day">@eventEntity.Date.Day</span>
                <span class="month">@CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(@eventEntity.Date.Month)</span>
                <span class="year">@eventEntity.Date.Year</span>
                <span class="time">ALL DAY</span>
            </time>
            <div class="info">
                <h2 class="title">@eventEntity.Name</h2>
                <p class="desc">@eventEntity.Description</p>
            </div>
        </li>
    }
</ul>
